<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .footer {
          position: fixed;
          font-family: Georgia, 'Times New Roman', Times, serif;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color:black;
          color: white;
          text-align: center;
        }
        </style>
        
        <div class="footer">
          <p>Footer</p>
        </div>
</head>
<body>    
    <div class="footer">
      <p>COPYRIGHT @ ANIKET SINGH</p>
    </div>
</body>

</html>