<%- include('./essentials/header.ejs') %>
<div class="mdiv">
    <div class="content1">
        <h2 class="heading">BASIC BANKING SYSTEM</h2>
    </div>

    <div class="content2">
        <h4 class="heading">It is a basic banking syatem which performs fund transfer from one account to another account!</h4>
    </div>


    <div class="content3">
        <h5 class="heading">LET'S START!</h5>
    </div>
</div>

<%- include("essentials/footer") %>